<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/admin/logout">logout</a>
        </div>
        
      </div>
    </nav>

    <div class="container">
      <br>
      {% for group in groups %}
    <div class="row">
      {% for cluster in group %}
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ cluster.name }}</h5>
            <h6 cid="{{cluster.id}}" class="card-subtitle mb-2 text-muted">Nodes: <span>{{ cluster.nodes }}</span></h6>
            <p class="card-text">CPU: 65% Free: 35%</p>
            {% if request.user.is_superuser %}
            <a href="#" class="card-link">Edit</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <br>
    {% endfor %}
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      $(document).ready(function() {
        $(".card-link").click(function(){
            htag = $(this).siblings("h6");
            span = htag.children("span");
            cid = htag.attr("cid");
            input = span.children("input");
            console.log(span);
            if (input.length==0){
              span.html("<input cid='"+cid+"' class='updatenodes' name='nodes' value='"+span.html()+"'/>");
            }
        });
       
        
    });
      $(document).on('keypress','input', function (e) {

       //Retrieve ID of the textarea
       var cid = $(this).attr('cid');
       var value = $(this).val();

       if (e.which == 13) {
           console.log(cid, value);
           $(this).parent().html(value);
            var csrftoken = getCookie('csrftoken');
            console.log(csrftoken);
           $.ajax({
              type: "PUT",
              url: '/search/'+ cid + "/",
              data: {"nodes": value},
              headers: {"X-CSRFToken": csrftoken},
              success: function(data){

              },
            });

       }
    });
    </script>
  </body>
</html>